.venv
__pycache__
*.pyc
alembic
app
alembic.ini
log_producer.py 
prometheus_client.py
scheduler.py
test_event_publisher.py
test_rabbit_connection.py
prometheus_windows_setup.md
data/*.db
data/recommendations.db
.env
